<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews
    </IfModule>

    RewriteEngine On

    # Resources / Assests
	# If directory does not exist
    RewriteCond %{REQUEST_FILENAME} !-d
	# Cleanup the url/path
    RewriteRule ^(.*)/$ /$1 [L,R=301]

    # Controller / Backend
	# If directory does not exist
    RewriteCond %{REQUEST_FILENAME} !-d
	# If file does not exist
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>